<div class="thought {{thought.model}} ff-roboto-mono [ngClass]='widthThought()'">
  <img src="../../../../assets/images/{{thought.model}}.png" alt="Aspas coloridas" srcset="">
  <p class="content">{{thought.content}}</p>
  <p class="authorship"><b>{{thought.authorship}}</b></p>
  <div class="actions">
    <button class="btn-update">
      <img src="../../../../assets/images/icone-editar.png" routerLink='/thoughts/updateThought/{{thought.id}}' alt="ícone de editar" srcset="">
    </button>
    <button class="btn-delete" routerLink='/thoughts/deleteThought/{{thought.id}}'>
      <img src="../../../../assets/images/icone-excluir.png" alt="ícone de excluir" srcset="">
    </button>
  </div>

</div>
